body h1 {
  margin: 0;
  padding: 0;
  display: inline-block;
}

thead {
 font-size: 2em;
 text-align: center;
}

td.votes {
 width: 4em;
}

td a.article-link {
  font-size: 1.5em;
  text-align: left;
}

a.vote:hover, a.vote:visited:hover {
  text-decoration: none;
  color: blue;

}

a.vote, a.vote:visited {
  text-decoration: none;
  color: black;
}

a.vote {
 display: block;
 float: left;
 clear: both;
 font-size: 2em;
}

#logo {
  float: left;
  display: inline-block;
  border-right: 3px solid black;
  padding-right: 1em;
  margin: 1em 1em 1em 0em;
}

#article-container .article-date, #article-container .article-rating {
  color: lightgray;
  font-weight: light;
  font-size: small;
}

#article-container {
  padding: 1em;
}

#article-container .article-title {
  font-weight: bold;
  font-size: x-large;
  text-decoration: underline;
}

#article-container .article-content {
  padding: 1.5em;
  margin-left: 1em;
}
