body h1 {
  margin: 0;
  padding: 0;
  display: inline-block;
}

a.vote, a.vote:visited {
  text-decoration: none;
  color: blue;
}

ul#main-content {
  list-style: none;
}

#logo {
  float: left;
  display: inline-block;
  border-right: 3px solid black;
  padding-right: 1em;
  margin: 0em 1em 1em 0em;
}

#article-container {
  margin-left: 1em;
}

#article-container .article-date, #article-container .article-rating {
  color: lightgray;
  font-weight: light;
  font-size: small;
}

#article-container .article-title {
  font-weight: bold;
  font-size: x-large;
  text-decoration: underline;
}

#article-container .article-content {
  display: block;
  border-radius: 1em;
  border: 1px solid gray;
  padding: 1.5em;
  margin-left: 1em;
}
