{% extends "base.html" %}
{% block page_header %}The front page of this application!{% endblock %}
{% block content %}
 {% include "add_article.html" %}
 <ul id="main-content">
 {% for article in articles %}
  <li class="article-link">
   <a href="/vote/{{ article.id }}/up" class="upvote vote">&#x25B2;</a>
   <a href="/vote/{{ article.id }}/down" class="downvote vote">&#x25BC;</a>
   <a href="/article/{{ article.id }}" class="article-link">{{ article.title }}</a>
  </li>
 {% endfor %}
 </ul>
{% endblock %}
