{% extends "base.html" %}
{% block page_header %}The front page of this application!{% endblock %}
{% block content %}
 {% include "add_article.html" %}
 <div class="panel panel-default">
  <table class="table table-striped table-hover">
   <thead>
    <tr>
     <td colspan="2">Articles</td>
    </tr>
   </thead>
   <tbody>
   {% for article in articles %}
   <tr>
    <td class="votes">
     <a href="/vote/{{ article.id }}/up" class="glyphicon glyphicon-thumbs-up vote">&nbsp;</a>
     <a href="/vote/{{ article.id }}/down" class="glyphicon glyphicon-thumbs-down vote">&nbsp;</a>
    </td>
    <td>
     <a href="/article/{{ article.id }}" class="article-link">{{ article.title|e }}</a>
    </td>
   {% endfor %}
   </tbody>
  </table>
 </div
{% endblock %}
